.slide {
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  position: relative; 
}
head{
    /* height: 100px; */
  /* background-color: purple; */

}  



main {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 15px; 
}

footer {
color:white;
height:50px;
padding: 1rem;

}
.boton-bar:hover{
  background-color:#27313c;
  color:white;
 
}
