body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica;
    background-size: cover; 
    table-layout: inherit;
    text-align: center;
    background-origin: padding-box;
    min-height: 100vh;
    background: 
}

.btn .btn-dark, .scope {
    padding: 6px 12px; 


}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: pointer;
    
    
}
h6{
    font-family: Arial, Helvetica, sans-serif;

}


